.tile {
    display: grid;
    place-content: center;
    height: 134px;
    width: 134px;
}

.white-tile {
    background-color: #D2B48C;
}

.black-tile {
    background-color: #987554;
}

.tile img {
    width: 95px;
}

.tile .piece {
    display: grid;
    width: 134px;
    height: 134px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95px;
}

.tile .piece:hover {
    cursor: grab;
}

.tile .piece:active {
    cursor: grabbing;
}

.tile-highlight::before {
    content: " ";
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}